<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Project Management</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1 class='grad1'>Project Management</h1>
    </header>
        <div class="topnav">
            <a class="active" href="/profile">profile</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/projects">Projects</a>
            <a href="/addProjects">Add Projects</a>
        </div>

    <main>
    {{{body}}}
    </main>
    <br>
    <footer>Created by Josh Garner and Yunxiang Fan</footer>
</body>
</html>